html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.background {
  padding: 6.25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 12.5rem);
  height: calc(100% - 12.5rem);
  background: linear-gradient(150deg, #d9dbe2, #808aac 100%, #282d39 0);
}

.auth-container {
  width: 26rem;
  height: 18rem;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: #4a5162;
  border-radius: 1.5rem;
  box-shadow: 0 0.125rem 0.9375rem rgb(0 0 0 / 68%);
  padding-bottom: 1.2rem;
}

.auth-form {
  padding-top: 1.75rem;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.auth-title {
  padding-bottom: 1.3rem;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}

.text-input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #4a5162;
  outline: none;
  border-width: 0rem;
  border-bottom: 0.125rem solid #726dfe;
  color: white;
}

.text-input::placeholder {
  color: hsla(0, 0%, 100%, 0.568);
}

.submit-button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  width: 75%;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.25rem;
  border-width: 0rem;
  cursor: pointer;
  background-color: #726dfe;
  color: white;
  outline: none;
}

.submit-button:hover {
  background-color: #938ffe;
}

@media (max-width: 768px) {
  .background {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .auth-container {
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0;
    transform: none;
  }
  .auth-form {
    padding-top: 20rem;
    width: 80%;
    margin-left: 10%;
  }
}
